body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-image: url("../resources/temp_background.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
#weather {
    grid-column-start: 4;
    grid-row-start: 1;
    justify-self: end;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 35px;
    margin-top: 30px;
}
#weather_icon {
    height: 50%;
    width: 100%;
}
#weather_text {
    vertical-align: text-top;
}
#clock_align {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
#clock_container {
    flex: 1;
    font-size: 36px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
}
#date_container {
    flex: 1;
    font-size: 36px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
#note_container {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 30px;
    margin-left: 35px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#button_container {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    align-self: end;
    justify-self: center;
}
#calculator_container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end:5;
  background-color: grey;
  opacity: 0.75;
  width: 300px;
  height: 400px;
  justify-self: center;
  margin-top: 10px;
  box-shadow: 0 10px 15px -8px #000;
  -webkit-border-radius: 5px;
  -mox-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}

#calculator_container:hover {
  opacity: 1.0;
}

#tip_header {
  padding: 0 0 20px;
  border-bottom: solid 1px #ddd;
}

#calculator_form {
  text-align: left;
}

.calculator_form_label {
  display: block;
  margin: 20px 10px;
  font-weight: bold;
}

.calculator_form_input {
  font-size: 16px;
  color: black;
}

.calculator_form_select {
}

.calculator_form_input[type="text"] {
 width: 70px;
}

#calculate_button {
  background: #6c2726;
  color: white;
  border:none;
  border-bottom: solid 1px black;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 100px;
  width: 100px;
}

#calculate_button:hover {
  background: #4c2827;
  border-bottom-color: #111;
  top: 1px;
}

#total_tip {
  font-size: 20px;
}

#total_tip:before {
  content: "Tip amount";
  font-size: 10px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

.button {
    flex: 1 1 1 1;
    background-color: rgba(255, 255, 255, 0.5);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
}
.button:hover {
    background-color: rgba(125,125,125, 0.25);
}

input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}
#output li{
    list-style: none;
}
